@model MarksPlumbing.WWW.UI.Models.Home.HomeModel

@if (Model.flyerCnt > 0)
{
    <h1 style="text-align: center">Featured Products</h1>
}
<div id="flyerGridDiv">
    <div id="flyerGridTable" style="align-content: center">
        @*<thead style="background-color: transparent !important;">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>*@
        <div>
            <ul style="text-align: center; vertical-align: middle;">
                @for (int i = 0; i <= Model.flyerCnt - 1; i++)
                {
                    <li>

                        @if (i <= Model.flyerCnt - 1)
                        {

                            <a href="@Url.Content(Model.FlyerItemLists[i].LinkLocation)" target="_blank">
                                <img src="@Url.Content(Model.FlyerItemLists[i].ImagePath)" alt="@Url.Content(Model.FlyerItemLists[i].AltText)" />
                            </a>
                        }
                        else
                        {
                            <div></div>
                        }
                      
                    </li>

                }
            </ul>
        </div>
    </div>
</div>




