<script type="text/html" id="partlabel-selector-template">

    <div data-bind="visible: PartLabelSelectorVisible" class="outline-bordered">
            <table id="PartLabelTable" class="bordered">
                <tbody>
                    <tr>
                        <td><img src="~/Images/avery-10-per-sheets-small.png" data-bind="click: $parent.ViewPartLabelInvoiceDoc10" /></td>
                        <td><img src="~/Images/avery-30-per-sheets-small.png" data-bind="click: $parent.ViewPartLabelInvoiceDoc30"/></td>
                    </tr>
                </tbody>
            </table>
    </div>
</script>
