@model MarksPlumbing.WWW.UI.Models.BaseModel
@* Since we call this automatically I have commented out all code.  Not entirely sure if this file is necessary or not. *@


@*<h2>ePay</h2>


<div class='article'>
    <h1 class="contentTitle">ePay Single Sign On</h1>
    <p></p>
    Click this link to access ePay website for you account number.
    <br /><br />
    <a class="inline" href=@Model.EPayLink target="_blank">SSO ePay Link</a>


</div>*@
