@model MarksPlumbing.WWW.UI.Models.Account.ResetPasswordModel


<h2>Password Reset</h2>

<div id="passwordResetDiv">
    <!-- Valid section of DIVs -->
    <div data-bind="if:(vm.ResetPassword.ResetAttempted()==false || vm.ResetPassword.ResetFailed()==true) && vm.ResetPassword.ResetPossible()==true">
        @if (Model.CanWeResetPW == true)
        {
            <h3>@Model.UserName, your password can be reset <br />until @Model.PasswordResetExpireTimeString<br /><br />
            </h3>
        }

        <div class="password input">
            <span class="label">New Password</span>
            <input type="password" class="ui-corners-all password" data-bind="value:vm.ResetPassword.Password,event:{keyup:vm.ResetPassword.PasswordMeter.CheckPasswordStrength},attr:{title:vm.ResetPassword.PasswordMeter.PasswordRequirementsText}" />
            <div data-bind="    css:vm.ResetPassword.PasswordMeter.PasswordCSS"><span data-bind="    text:vm.ResetPassword.PasswordMeter.PasswordMeterText"></span></div>
        </div>
        <div class="password input">
            <span class="label">Retype Password</span>
            <input type="password" class="ui-corners-all password" data-bind="value: vm.ResetPassword.Password2" />
        </div>
        <hr class="password" />
        <span class="password">Click Reset Password button to save</span><br />
        <input type="button" class="marksButton password" value="Reset Password" data-bind="click:vm.ResetPassword.ResetPasswordClicked" />
    </div>

    <!-- Invalid section of DIVs -->
    <div data-bind="if:(vm.ResetPassword.ResetAttempted()==false || vm.ResetPassword.ResetFailed()==true) && vm.ResetPassword.ResetPossible()==false">
        @if (Model.CanWeResetPW == false)
        {
            <h3>@Model.UserName, this recovery link has expired.<br />
            </h3> }
        <span>
            <h3><a href="#" data-bind="click: vm.ResetPassword.RecoverPasswordClickFromReset">Click here</a> to resend a new <br />password recovery email.</h3>
        </span>
    </div>
    <div data-bind="template:{name:'ui-messagelist-template',data:vm.ResetPassword.UIMessages}"></div>
</div>


@Html.Partial("_UIMessageListTemplate")

@section Scripts{
    <script>
        var resetPasswordModel =@Html.Raw(Json.Encode(Model));        
    </script>
}
