@model MarksPlumbing.WWW.UI.Models.BaseModel
<div class='infotext' id="contentTabList">

    <h1 class="contentTitle center">Careers at Mark's</h1>

    <h2>Career Opportunities</h2>
    <div>
        <hr />
        <p>Mark’s Plumbing Part’s provides a demanding, fast-paced environment in a competitive industry, where growth equals opportunity and fun accompanies the challenge.</p>
        <p>Mark’s diverse and innovative product mix enables our continued growth by providing a competitive advantage to our customers. It’s our passion to stock name brand OEM repair parts for quick and accurate delivery to our customers. Innovation that drives these processes can be found in every level at Mark’s Plumbing Parts. </p>
        <p>The future of Mark’s will be shaped by our commitment to hiring the best talent and making them even better; building strong teams, while providing people with rewarding and challenging careers.</p>
        <p>Our employees are the heart and soul of Mark’s Plumbing Parts and help make us a special part of our customer's experience. Since 1980, Mark’s employees have led our success by working with an unfailing set of ideals - that was implemented by our Founder John W. Gasparini Sr. - Integrity, Intelligence and Energy.</p>
        <p>If you would like to learn more about Mark’s Plumbing Parts please send your resume in strictest confidence to:</p>
        <p>John Brallier – Executive Vice President</p>
        <p>Fax 855-839-8159 or email <a href="mailto:j.brallier@markspp.com">j.brallier@markspp.com</a></p>
        <br />
        <p>If you have what it takes - Integrity, Intelligence and Energy – please click <a href="https://ciims.cindexinc.com/job/fd098a" target="_blank">here</a> and take a short survey.</p>
    </div>
</div>
