@model MarksPlumbing.WWW.UI.Models.BaseModel
<div class='infotext' id="contentTabList">
    
    <h1 class="contentTitle center">Company Information</h1>

    <h2>A History of Mark’s</h2>
    <div id='mission'>
        <hr />
        <p>Mark’s Plumbing Parts was founded in 1981 by Colleen and John Gasparini in a tiny warehouse on the west side of Fort Worth, Texas. Their three sons helped to lay the brickwork and establish a customer base all over Texas during the company’s first years. We’ve grown from a small, Fort Worth based company to a national distributor, covering the entire United States.</p>
        <p>In the 1980s, John developed such a strong trust-based bond with his customers, that many of them gave him the key to their plumbing shop so that he could take inventory and order parts for them while they were out conducting their own business. His sons shadowed his actions and developed the same connection with their customers, and we continue to conduct our business based on this same sense of trust and honesty to this day.</p>
        <p>As the company grew, we built a new, bigger warehouse, subsequently making several building additions over the next couple of decades to accommodate the ever-growing need for various plumbing items, while still maintaining inventory of the harder-to-find, older parts. Over the years, we’ve partnered with hundreds of manufacturers to bring our customers superior plumbing and maintenance items, taking quality, selection, and value into the highest consideration, always adding new, innovative items to our line of over 35,000 plumbing and maintenance parts.</p>

        <p>Mark’s still services the walk-in residential consumer and local contractor, small plumbers across the country, and large institutions from state to state. We continue to retain our founders’ work ethic, spirit, and pride in what we have always done best: serve our customers.</p>
    </div>
        <img src='~/Content/Images/shipping_locations.png' alt='Distribution Centers' style='margin: 0 auto; display: block' /><br />
</div>
