@model MarksPlumbing.WWW.UI.Models.BaseModel
<div class='infotext' id="contentTabList">

    @*<h1 class="contentTitle center">Part Label Information</h1>*@
    <br />
    <h2>Printing Labels</h2>
    <div>
        <p>
            <h3>Print labels from many different locations in Marks web site.</h3>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;Mark's has added a new feature for our customers which allows you to print labels in many different sizes. 
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;Our new <u><b>COLOR</b></u> label feature, will make sure that everything looks sharp and professional.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;We are currently offering 4 different size labels for your needs, just like this one.<br />
        </p>

        

        <br />
        <table style="width: 50%; margin: 0 auto; display:block">
            <tr>
                <td>
                    <h3>Sample Label</h3>
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/Images/sample label.png" style="border-radius: 25px; border: 2px solid; padding: 5px;" /><br />
                </td>
            </tr>
            <br />
        </table>
        <p>
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;So try out our labels.  You can find them here in these locations:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click the "View Cart" button to generate labels based on what is in the open cart.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click "My Account - > Quotes" to generate labels from past quotes entered.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click "My Account - > Invoices" to generate labels from past invoices.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click "My Account - > Favorites / Print Labels" to generate labels from favorite lists.
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:14px;font-weight:bold">NEW*</span>  You can also generate free labels during the quote/checkout process, under Step 3: Billing screen.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These labels will be emailed to your account.
        </p>

        <h3>Label Templates</h3>
        <table style="width: 50%; margin: 0 auto; display:block">
            <tr>
                <td style="width: 200px">
                    <img src="/Images/avery-4-per-sheets-small.png" />
                    <br />
                    <span>This label is 3 1/2 x 5 inches wide.</span>
                </td>
                <td style="width: 200px">
                    <img src="/Images/avery-6-per-sheets-small.png" />
                    <br />
                    <span>This label is 3 1/3 x 4 inches wide.</span>
                </td>
            </tr>
            <tr>
                <td style="width: 200px">
                    <img src="/Images/avery-10-per-sheets-small.png" />
                    <br />
                    <span>This label is 2 x 4 inches wide.</span>
                </td>
                <td style="width: 200px">
                    <img src="/Images/avery-30-per-sheets-small.png" />
                    <br />
                    <span>This label is 1 x 2 5/8 inches wide.</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="http://www.avery.com/avery/en_us/where-to-get-it/?Ns=Rank" target="_blank" style="text-align-last:center;display:block;justify-content:center"><h3>Click here to see where to purchase Avery labels.</h3></a>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
