@model MarksPlumbing.WWW.UI.Models.BaseModel
<div id="contentTabList">

    <h1 class="contentTitle center">Store Locations</h1>

    <h2>Corporate Headquarters</h2>
    <div>
        <h3 style="text-align: left !important">Phone: 817-731-6211</h3>
        <hr />
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=3312+ramona+dr,+fort+worth,+tx,+76116&amp;sll=37.0625,-95.677068&amp;sspn=48.019527,82.265625&amp;ie=UTF8&amp;s=AARTsJrDOUJKx2XYwinJDRUhS6NvXwLgNg&amp;ll=32.759851,-97.434654&amp;spn=0.086615,0.102997&amp;z=12&amp;iwloc=addr&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=3312+ramona+dr,+fort+worth,+tx,+76116&amp;sll=37.0625,-95.677068&amp;sspn=48.019527,82.265625&amp;ie=UTF8&amp;ll=32.759851,-97.434654&amp;spn=0.086615,0.102997&amp;z=12&amp;iwloc=addr&amp;source=embed" style="color: #0000FF; text-align: left">View Larger Map</a>
        </small>
    </div>

    <h2>Carrollton Branch</h2>
    <div>
        <h3 style="text-align: left !important">Phone: 972-466-4104</h3>
        <hr />
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=2720+commodore+dr,+carrollton,+tx+75007&amp;sll=32.72527,-97.451134&amp;sspn=0.050184,0.080338&amp;ie=UTF8&amp;s=AARTsJo0GBtKN88p2MMI6GrBNlmbQC4gPw&amp;ll=33.275435,-96.825256&amp;spn=0.688876,0.823975&amp;z=9&amp;iwloc=addr&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=2720+commodore+dr,+carrollton,+tx+75007&amp;sll=32.72527,-97.451134&amp;sspn=0.050184,0.080338&amp;ie=UTF8&amp;ll=33.275435,-96.825256&amp;spn=0.688876,0.823975&amp;z=9&amp;iwloc=addr&amp;source=embed" style="color: #0000FF; text-align: left">View Larger Map</a>
        </small>
    </div>

    <h2>Shipping Locations</h2>
    <div>
        <hr />
        <img src='~/Content/Images/shipping_locations.png' alt='Distribution Centers' style='padding: 5px; display: block; margin: 0 auto' />
    </div>
</div>