@model MarksPlumbing.WWW.UI.Models.BaseModel
<h1 class="contentTitle center">Tutorials</h1>

<div id="contentTabList">

    <h2>Online Help - Demonstrations</h2>
    <div>
        <hr />
        <table cellpadding="3" border="1">
            <tr>
                <td>
                    <a href="~/Content/Tutorials/AccountPreferences.htm">Account Preferences</a>
                </td>
                <td>Setup Account Defaults</td>
            </tr>
            <tr>
                <td>
                    <a href="~/Content/Tutorials/Checkout.htm">Checkout</a>
                </td>
                <td>The Checkout Process</td>
            </tr>
            <tr>
                <td>
                    <a href="~/Content/Tutorials/ExportQuote.htm">Exporting Quotes</a>
                </td>
                <td>Exporting Quotes to PDF or other formats</td>
            </tr>
            <tr>
                <td>
                    <a href="~/Content/Tutorials/MyFavorites.htm">Favorites Tips</a>
                </td>
                <td>Using Favorites Tips and Tricks</td>
            </tr>
            <tr>
                <td>
                    <a href="~/Content/Tutorials/Online Catalog Tutorial.htm">Online Catalog</a>
                </td>
                <td>Demo of the Online E-Catalog</td>
            </tr>
            <tr>
                <td>
                    <a href="~/Content/Tutorials/registration1.htm">Registration</a>
                </td>
                <td>First time registration, one time only</td>
            </tr>
            <tr>
                <td>
                    <a href="~/Content/Tutorials/registration2.htm">Registration Errors</a>
                </td>
                <td>Solving Registration Problems</td>
            </tr>
            <tr>
                <td>
                    <a href="~/Content/Tutorials/registration3.htm">Username/Password Recovery</a>
                </td>
                <td>Recovering Username, Password, or Both!</td>
            </tr>

        </table>
    </div>
</div>