@model MarksPlumbing.WWW.UI.Models.Catalog.PartDetailModel
<h2>Detail</h2>
<div id="partDetailDiv" style="display: none" data-bind="visible:true">
    <div style="width: 48%; float: left">
        <img data-bind="attr: { src: vm.PartDetail.Part.ImagePath, title: vm.PartDetail.Part.PartNumber }" />
    </div>
    <div style="float: left;">
        <div>
            <span class="DetailDescBold" data-bind="text:  vm.PartDetail.Part.Description"></span>
            <span data-bind="       if: vm.PartDetail.Part.TruckItem == true">
                <img src="/Content/images/truck.png" class="bottomTruck" title="This item requires an additional shipping charge." /></span>
        </div>
        <div><span data-bind="text: vm.PartDetail.Part.Line1"></span></div>
        <div><span data-bind="text: vm.PartDetail.Part.Line2"></span></div>
        <div><span data-bind="text: vm.PartDetail.Part.Line3"></span></div>
        <div><span data-bind="text: vm.PartDetail.Part.Line4"></span></div>
        <div data-bind="if:vm.IsLoggedIn()==true">
            <div data-bind="if:vm.PartDetail.Part.IsAvailableForPurchase() == true">
                <span class="detailBoldPartNum" data-bind="text:  vm.PartDetail.Part.UnitPriceForDisplay"></span>
                <span class="floatRight">
                    <span class="paddingL10" style="padding-right: 10px;" data-bind="text:  vm.PartDetail.Part.UnitOfMeasureAbbreviation"></span>
                    <input class="ui-corner-all unitQty" type="text" data-bind="value:  vm.PartDetail.Part.Quantity" />
                    <span class="paddingL10" data-bind="if:vm.PartDetail.Part.QuantityAvailable > 0">In Stock</span>
                    <input class="marksButton" type="button" value="+ Cart" data-bind="    click:  vm.PartDetail.Part.AddToCart" />
                </span>
            </div>
            <div class="unavailable" data-bind="if:vm.PartDetail.Part.IsAvailableForPurchase() == false">
                <span>This item is currently unavailable.</span>
            </div>
        </div>

        <div data-bind="if:vm.IsLoggedIn()==true && vm.PartDetail.Part.IsAvailableForPurchase() == true" class="flexbox flex-column text-right">
            <h2>Add to favorites list</h2>
            <span>Select List <select data-bind="options: vm.PartDetail.FavoritesLists, optionsText: 'CartName',optionsValue:'CartId', value: vm.PartDetail.AddToListSelectedOption"></select></span><br /><br />
            <input class="marksButton" type="button" value="Add to Favorites / &#x00A;Print Labels" data-bind="click:vm.PartDetail.AddToList" />
        </div>

    </div>
</div>

@section Scripts{

    <script>
        var partDetailModel =@Html.Raw(Json.Encode(Model));
    </script>
}