#passwordResetDiv {
    border: 5px solid lightgray;
    width:320px;
    padding:10px;
    text-align:center;
}

div.password.input {
    width: 220px;       
    margin-right:60px; 
    margin-bottom:5px;
    float:right;
    text-align:right;
}

div.password.input input.password {
    width: 100px;
}

hr.password {
    clear: both;
    margin-bottom:5px;
}

input.marksButton.password {
    margin-top: 5px;
}