div.partDetailSmallImage {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 150px;
    width: 135px;
}

img.partDetailSmall {
    border: hidden;
}

div.partDetailSmallInfoBox {
    display: table-cell;
    margin: 5px 5px 5px 5px;
    width: 235px;
}

div.pagerDiv input[type=number] {
    width: 50px;
}

img.partDetailSmall {
    border: medium hidden;
}