

div.partDetailSmallImage {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
  
    height:150px;
    width: 135px;
}

img.partDetailSmall {    
    border: hidden;
}

div.partDetailSmallInfoBox {
    display:table-cell;
    margin: 5px 5px 5px 5px;
    width: 235px;
    
}


div.pagerDiv {
    width: 99%;
    padding: 2px 2px 2px 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    clear: both;
}

#searchResultsDiv {
    overflow: auto;
    padding-bottom: 5px;
}

div.pagerDiv input[type=number] {
    width: 50px;
}
