
.smTable tbody tr:hover {
    background-color: transparent;
}

.smTable {
    border: 0;
    border-color: #fee;
    border-width: 0px;
    float:left;
    width:100%;
}

.smTable > div  {
    float:left;
    width:100%;

}
.smTable > div p {
    float:left;


}

        .smTable > ul li {
            list-style: none;
        }

    .smTable th, td {
        border-width: 0px;
    }

    .smTable td {
        vertical-align: top;
    }

.largeLink {
    font-size: 16px;
}

.smCenter {
    float:left;
    text-align: center;
    width:100%;
}
