thead, tfoot {    
    background-color: #009933;
}
:root {
    --contactinfo-bg-color: #33A8D9;
    --contactinfo-header-color: #000;

    --light-bg-color: #0092CF;
    --dark-bg-color: #0c294a;

    --btn-featured-list-style: solid #008FCB 3px;
}
#content-sidebar {
    display: inline-block;
    float: left;
    width: 250px;
    padding: 3px;
    background: #009933;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #009933), color-stop(1, #0C294A));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-side at center, #009933 0%, #0C294A 100%);
}

.content-sidebar {
    display: inline-block;
    float: right;
    width: 250px;
    padding: 3px;
    background: #009933;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #009933), color-stop(1, #0C294A));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-side at center, #009933 0%, #0C294A 100%);
}

.content-sidebarTest {
    display: inline-block;
    float: right;
    width: 250px;
    padding: 3px;
    background: #009933;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #009933), color-stop(1, #0C294A));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-side at center, #009933 0%, #0C294A 100%);
}

.header {
    width: 1014px;
    height: 140px;
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
    background: #0092CF;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top left, #0092CF 0%, #0C294A 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #0092CF 0%, #0C294A 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top left, #0092CF 0%, #0C294A 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0092CF), color-stop(1, #0C294A));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #0092CF 0%, #0C294A 100%);
    /* W3C Markup, IE10 Release Preview */ 
     background-image: linear-gradient(to bottom right, #0092CF 0%, #0C294A 100%);
}

.headerTest { width: 100%; clear: both; float: left; padding: 0; margin: 0; }
#upperHeader {width: 100%; clear: both; float: left; padding: 5px 0 25px; background: #009933; /* IE10 Consumer Preview */ background-image: -ms-linear-gradient(top left, #009933 0%, #0C294A 100%);  }
#footer {width: 100%; clear: both; float: left; padding: 5px 0 25px; background: #009933; /* IE10 Consumer Preview */ background-image: -ms-linear-gradient(top left, #009933 0%, #0C294A 100%); }


.loginBox {
    margin-left: auto;
    margin-right: auto;
    width: 248px;
    text-align: center;
    color: white;
    /*background-image: url(/Content/images/login_bg.jpg);*/
    padding-bottom: 5px;
    background: #0092CF;
     /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-side, #0092CF 0%, #0C294A 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-side, #0092CF 0%, #0C294A 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-side, #0092CF 0%, #0C294A 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #0092CF), color-stop(1, #0C294A));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-side, #0092CF 0%, #0C294A 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-side at center, #0092CF 0%, #0C294A 100%);
}

.loginBoxTest {
    margin-left: auto;
    margin-right: auto;
    width: 248px;
    text-align: center;
    color: white;
    /*background-image: url(/Content/images/login_bg.jpg);*/
    padding-bottom: 5px;
    background: #009933;
     /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #009933), color-stop(1, #0C294A));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-side, #009933 0%, #0C294A 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-side at center, #009933 0%, #0C294A 100%);
}

div.featured-list {
    margin-bottom:5px;
    width: 735px;
    /* The height value here shows the Featured Items boxes height */    
    overflow:hidden;
    display:inline-block;
    border: solid #0C294A 3px;
    border-top: none;
    margin-right: 50px !important;
    border-radius:0;
}

div.featured span.title {
    background: -webkit-linear-gradient(right, #0C294A, #009933); 
    background: -o-linear-gradient(left, #0C294A, #009933);
    background: -moz-linear-gradient(left, #0C294A, #009933);
    background: linear-gradient(to left, #0C294A, #009933);
    background-color: #009933;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0C294A', endColorstr='#009933',GradientType=0 );
    padding: 5px 20px;
    margin: 10px -12px 0 0;
    border-top-left-radius: 20px;
    font-size:16px;
    font-weight:bold;
    clear:both;
    display:block;
    color: white;
}

input.marksButton {
    border: solid #0C294A 2px;
    background-color: #009933;
}

#contentTabList h2 {
    background: -webkit-linear-gradient(right, #009933, #0C294A); 
    background: -o-linear-gradient(left, #009933, #0C294A);
    background: -moz-linear-gradient(left, #009933, #0C294A);
    background: linear-gradient(to left, #009933, #0C294A);
    background-color: #009933;
    padding: 5px 0 5px 20px;
    border-top-left-radius: 20px;
    margin: 0 5px !important;
    color: white;
    text-align: left !important;
}

#contentTabList div {
    border: solid #0C294A 3px;
    border-top: none;
    padding: 5px;
    margin: 0 5px 10px;
}


    #catalogIcon a:hover {
        color: #0C294A;
    }

/* ------- Overrides -------- */

.ui-widget-header {
	border: 1px solid #009933;
	background: #009933;
	color: #eaf5f7;
	font-weight: bold;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #009933;
	background: #009933;
	font-weight: normal;
	color: #ffffff;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #009933;
	background: #009933;
	font-weight: normal;
	color: #ffffff;
}


#contactTable .contactInfo {
    width: 200px;
    background-color: #00a438;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px !important;
}
#contactTable th {
    background-color: #00a438;
    color: #fff;
    width: 200px;
}
#holidayScheduleContainer {
    float: right;
    width: 200px;
    background-color: #00a438;
    list-style: none;
    padding: 5px 4%;
    border-radius: 15px;
    text-align: center;
}