@model MarksPlumbing.WWW.UI.Models.Home.MaintenanceDownModel
                                        
<div id="maintDown" align="center">
    <h1>Our website is currently down for maintenance.</h1>

   <font size="4", color="red"> @Model.Comments <br /></font>
    <font size="4", color="red"> <br /> Return Time is @Model.ReturnTime <br /> </font>

</div>