@model MarksPlumbing.WWW.UI.Models.BaseModel

<!-- This will show mode in title of screen -->
@if (Model.CheckoutState.CheckoutMode == 1)
{
    <h2>Sales Mode</h2>
}
else
{
    <h2>Quote Mode</h2>
}

<div id="checkoutDiv" style="display:none;" data-bind="visible:true">
    <div id="tabs">
        <ul>
            <li><a href="#step-1">
                <div class="checkoutstep">
                    <span class="checkoutstep checkoutstep-title">Step 1: Review</span>
                    <hr style="margin-right: 20px;"/>
                    <span class="checkoutstep checkoutstep-descrip">Final order adjustment</span>
                </div>
            </a></li>
            <li><a href="#step-2">
                <div class="checkoutstep">
                    <span class="checkoutstep checkoutstep-title">Step 2: Shipping</span>
                    <hr style="margin-right: 20px;"/>
                    <span class="checkoutstep checkoutstep-descrip">Select shipping options</span>
                </div>
            </a></li>
            <li><a href="#step-3">
                <div class="checkoutstep">
                    <span class="checkoutstep checkoutstep-title">Step 3: Billing</span>
                    <hr style="margin-right: 20px;"/>
                    <span class="checkoutstep checkoutstep-descrip">Enter payment info</span>
                </div>
            </a></li>
            <li><a href="#step-4">
                <div class="checkoutstep">
                    <span class="checkoutstep checkoutstep-title">Step 4: Finalize</span>
                    <hr style="margin-right: 20px;"/>
                    <span class="checkoutstep checkoutstep-descrip">View and complete order</span>
                </div>
            </a></li>
            <li><a href="#step-5">
                <div class="checkoutstep">
                    <span class="checkoutstep checkoutstep-title">Step 5: Confirmation</span>
                    <hr style="margin-right: 20px;"/>
                    <span class="checkoutstep checkoutstep-descrip">Check email for receipt</span>
                </div>
            </a></li>
        </ul>
        <div id="step-1">
            @{ Html.RenderPartial("_PriceAndAvailability"); }
        </div>
        <div id="step-2">
            @{ Html.RenderPartial("_Shipping"); }
        </div>
        <div id="step-3">
            @{ Html.RenderPartial("_PaymentOptions"); }
        </div>
        <div id="step-4">
            @{ Html.RenderPartial("_Review"); }
        </div>
        <div id="step-5">
            @{ Html.RenderPartial("_Confirmation"); }
        </div>
    </div>
</div>

@Html.Partial("_CartTableTemplate")
@Html.Partial("_UIMessageListTemplate")

@section Scripts{

    <script>
        var checkoutModel = @Html.Raw(Json.Encode(Model));
                
    </script>
}
