@model MarksPlumbing.WWW.UI.Models.BaseModel
<h1 class="contentTitle center">Company Contacts</h1>



<div id="contentTabList">
    <h2 class="center">Our expertise is only a phone call away!</h2>
    <div>
        <p>The country's most knowledgeable team of Plumbing Parts and Maintenance Professionals is anxious to answer any question you may have. We're not just order takers - we have solutions to your toughest parts problems.</p>
        <hr />
        <table id="contactTable">
            <tr>
                <td>
                    <div class="contactInfo">
                        <table>
                            <tr><th colspan="2">Questions About an Invoice?</th></tr>
                            <tr>
                                <td><span class="label bold">Email</span></td>
                                <td><a href='mailto:accounting@markspp.com'>accounting@markspp.com</a></td>
                            </tr>
                            <tr>
                                <td><span class="label bold">Phone</span></td>
                                <td><span>1-817-710-2376</span></td>
                            </tr>
                            <tr>
                                <td><span class="label bold">Hours</span></td>
                                <td><span>Central: 7am - 6pm</span></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="contactInfo">
                        <table>
                            <tr><th colspan="2">Sales and Service</th></tr>
                            <tr>
                                <td><span class="label bold">Email</span></td>
                                <td><a href='mailto:sales@markspp.com'>sales@markspp.com</a></td>
                            </tr>
                            <tr>
                                <td><span class="label bold">Phone</span></td>
                                <td><span>1-800-772-2347</span></td>
                            </tr>
                            <tr>
                                <td><span class="label bold">Phone Hours</span></td>
                                <td><span>Central: 7am - 6pm</span></td>
                            </tr>
                            <tr>
                                <td><span class="label bold">Counter Hours</span></td>
                                <td><span>Central: 7am - 5pm</span></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="contactInfo">
                        <table>
                            <tr><th colspan="2">Report Website Problems</th></tr>
                            <tr>
                                <td><span class="label bold">Email</span></td>
                                <td><a href='mailto:it@markspp.com'>it@markspp.com</a></td>
                            </tr>
                            <tr>
                                <td><span class="label bold">Phone</span></td>
                                <td><span>1-800-772-2347</span></td>
                            </tr>
                            <tr>
                                <td><span class="label bold">Hours</span></td>
                                <td><span>Central: 7am - 6pm</span></td>
                            </tr>
                        </table>
                    </div>
                </td> 
            </tr>
            <tr>
                <td></td>
                <td >
                    <ul class="center" id="holidayScheduleContainer">
                        <li><span class="bold"><u>Mark's is closed</u></span></li>
                        <li>New Year's Day,</li>
                        <li>Memorial Day,</li>
                        <li>Independence Day,</li>
                        <li>Labor Day,</li>
                        <li>Thanksgiving (and following Friday),</li>
                        <li>and Christmas Day.</li>
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr />
                    <h3 class="center">Also see <a href="@Url.Action("StoreLocations", "Resources")">Store Locations</a> under the Resources menu for store addresses and maps </h3>
                </td>
            </tr>
        </table>
    </div>
</div>

