@model MarksPlumbing.WWW.UI.Models.BaseModel
<div class='infotext' id="contentTabList">
    <h1 class="contentTitle center">Returns Policy</h1>
    <h2>Returns</h2>
    <div>
        <hr />
        <p>Call customer service for an RGA number. Write the RGA number on the outside of the box. Ship merchandise to 3312 Ramona Drive, Fort Worth, Texas 76116, freight prepaid.</p>
        <p>No freight collect shipments will be accepted. Enclose a copy of the original invoice or packing slip to insure proper credit. Returns must be made within 30 days from date of invoice.</p>
        <p>Special orders, china, and electronic parts are non-returnable.</p>
        <p>Non-defective merchandise returned, deemed by customer to be unacceptable quality, must be unused, clean, and with original packaging.</p>
        <p>All returns subject to inspection by Mark's.</p>
    </div>
</div>
