@model MarksPlumbing.WWW.UI.Models.BaseModel
<div class='infotext' id="contentTabList">

    <h1 class="contentTitle center">Tax Exempt Instructions</h1>

    <h2>Setting up Customer with Tax Exempt Status</h2>
    <div>
        <hr />
        <p>If you qualify for a tax exemption on purchases please send us your resale certificate <br />
            or tax exempt form so we can set this up on your account for future purchases.<br /><br />
            These forms can be submitted by e-mail to <a href="mailto:credit@markspp.com">credit@markspp.com</a> or by fax at 817-806-5122.</p>
    </div>
</div>
