@model MarksPlumbing.WWW.UI.Models.BaseModel
<div class='infotext' id="contentTabList">

    <h1 class="contentTitle center">Terms and Conditions of Sales</h1>
    <br />

    <h2>Payment Terms</h2>
    <div>
        <hr />
        <p>Net 30 days upon receipt of invoice. For your convenience we accept Visa, MasterCard, Discover and American Express.</p>
        
        <p>All orders are subject to credit approval.</p>
        <p>Orders are subject to hold status if account is past due.</p>
        <p>A finance charge of 1% per month (12% per annum) will be charged on invoices left unpaid 30 days after date of invoice. Minimum finance charge is $2.00.</p>
        <p>In the event any amounts must be referred to an attorney or collection agency for collection, a minimum collection fee of 20% shall be added to the outstanding balance.</p>
        <p>Terms and Conditions of Sales are subject to change without notice.</p>
    </div>

    <h2>Minimum Order Terms</h2>
    <div>
        <hr />
        <p>No minimum order.  Orders under $50.00 subject to a $5.00 handling charge plus applicable shipping charge.</p>
    </div>

    <h2>Delivery and Freight Terms</h2>
    <div>
        <hr />
        <p>New customers please allow time for a credit review.</p>
        <p>Shipments are normally via UPS or FedEx. Large or heavy items ship via truck line. Delivery is contingent on government regulations, strikes and other circumstances beyond our control. In no event shall Seller be liable for any consequential, special, or contingent damages on account of any default of delay in delivery.</p>
    </div>

    <h2>Mark's Master Plumbing Parts Catalog</h2>
    <div>
        <hr />
        <p>Free shipping on stock item orders of $500.00 or more to destinations within the continental United States. </p>
        <p>To our valued Alaskan and Hawaiian customers: All orders must specify freight forwarder or F.O.B. when orders are placed. Freight charges are the responsibility of the customer.</p>
        <p>To our valued international customers: Domestic freight allowances do not apply. All orders are shipped F.O.B. shipping warehouse.</p>
        <p>Orders under $500.00 are shipped F.O.B. Fort Worth, Texas.</p>
        <p>This symbol indicates an item is subject to additional freight charges.  <img src="~/Content/images/truck.png" class="bottomTruck" /></p>
        <p>
            Minimum shipping and handling charge is $6.95.<br>
            Next day air freight available at customer's expense.<br>
            Special Orders subject to additional freight charges.
        </p>
        <p>Sales dollars from Mark's Commercial Supply Products Catalog do not accumulate with Mark's Master Plumbing Parts Catalog items towards free shipping.</p>
        <p>Mark's Commercial Supply Products Catalog</p>
        <p>All orders from Mark's Commercial Supply Products catalog are shipped F.O.B. shipping warehouse.</p>
    </div>

    <h2>Corrections</h2>
    <div>
        <hr />
        <p>Typographical or clerical errors including prices, are subject to correction by Seller.</p>
    </div>
    
    <h2>Claims for China Breakage</h2>
    <div>
        <hr />
        <p>Check shipment immediately by opening factory cartons and inspecting for concealed breakage. Claims for concealed breakage will not be allowed if not reported to Mark's at 1-800-772-2347 within 48 hours of receipt of goods.</p>
    </div>

    <h2>Claims for defects or shortages</h2>
    <div>
        <hr />
        <p>Claims for defects or shortage must be made in writing within 2 days after receipt of shipment and faxed to Mark's Plumbing Parts at 1-800-991-6275. Items defective in manufacture will be replaced without charge.</p>
        <p>Our liability is limited to the replacement of defective parts and does not extend to damage, or losses due to the use or inability to use, or failure to follow instructions in the use of any of our products.</p>
    </div>

    <h2>Prices and Taxes</h2>
    <div>
        <hr />
        <p>Prices are subject to change without notice. Unless otherwise agreed, all orders shall be accepted on the basis of "prices prevailing at the time of shipment."</p>
        <p>All local, state, federal or special taxes including sales and use taxes now or hereafter imposed, shall be paid by the buyer unless an exemption certificate is on file with Mark's.</p>
    </div>

</div>
